body {
    margin: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:rgb(8, 8, 7)
  }
  .dropdown-menu.show{
    display:flex
  }
  .dropdown-toggle::after{
    content: none !important; 
  }
  .footer-title{
    color: rgb(60, 99, 59)
  }
  .link-box{
    border-radius: 50%;
    color:green;
    text-align: center;
    font-size: small; 
    margin: auto;
    border-radius: 50%;
    width: 75px;
    height: 75px;
   

  }

  .nav-links{
    display: flexb;
  
   
  }
  .nav-box{

  }

  .navbar-nav{
    flex-direction: row;
  }
  section {
    width: 100%;
    height: 1200px;

    display: flex;
    border: 1pt white solid;
  }
  social-box{
    opacity: .25;
  
  }
  social-link{
    opacity: .25;
  }